[submodule "git_modules/DR.Frameworks.Todo"]
	path = git_modules/DR.Frameworks.Todo
	url = git@github.com:krurschak/DR.Frameworks.Todo.git
[submodule "git_modules/DR.Components.Todo"]
	path = git_modules/DR.Components.Todo
	url = git@github.com:krurschak/DR.Components.Todo.git
